.btn{
    width:500px;
    background-color:cyan;
    font-size:30px;
    color:black;
    text-align:center;
    margin:auto;
    padding:10px 20px;

}

.lorem{
    width:500px;
    background-color: blueviolet;
    font-size:20px;
    color:white;
    text-align:center;
    margin:auto;
    padding:10px 20px;
}